{{ define "main" }}
<div class="grid grid-cols-1 md:grid-cols-4 gap-5 sm py-2">
  <div class="col-span-1">
    <div class="bg-gray-300 dark:bg-darker rounded drop-shadow-md p-2 h-full">
      <div class="flex flex-col h-full justify-between text-center">
        <div>
          {{ partial "profilePhoto" . }}
          <div class="p-2">
            {{ partial "social" . }}
          </div>
        </div>
        <div class="p-2">
          {{ partial "footer" . }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-3 relative">
    {{ range .Site.Params.showInAccordion }}
    <div class="px-2 mb-8">
      {{ $current := index $.Site.Params .item }}
      <h2 class="text-2xl font-bold mb-4 border-b border-gray-300 pb-2 text-black flex items-center gap-2">
        <i class="{{ $current.icon }}"></i>
        {{ $current.title -}}
      </h2>

      <div class="pl-0">
        {{ partial (print "accordion/" .item) $ }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
