{{ range .Site.Params.education.list }}

<h4 class="flex items-center gap-2">
  {{ if .logo }}<img src="{{ .logo }}" alt="" class="inline-block h-6 w-6 object-contain">{{ end }}
  {{ .degree }}
</h4>
<p {{ if .thesis_title }}class="mb-0" {{ end }}>
  {{- .dates }} &middot; {{ .college -}}
</p>
{{ if .thesis_title }}
{{ if .thesis_url }}
<p>
  Thesis:
  <a href="{{ .thesis_url }}"><i>{{ .thesis_title }}</i></a>
</p>
{{ else }}
<p>
  Thesis: <i>{{ .thesis_title }}</i>
</p>
{{ end }}
{{ end }}
{{ if .description }}
<div class="text-slate-600 dark:text-slate-300">
  {{ .description | markdownify | safeHTML }}
</div>
{{ end }}
{{ end }}
